*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 1.1rem;
}

.navbar>h1{
    text-transform: uppercase;
    font: bolder 1.45rem Arial;
}

.nav-items{
    display: block;
}

.nav-items a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav-items li{
    display: inline;
    margin-right: 1.1rem;
}

li:hover{
    color: rgb(185, 180, 180);
    cursor: pointer;
}

#bar-btn{
    display: none;
    font-size: 1.6rem;
}

#bar-btn:hover{
    color: rgb(180, 172, 172)
}

/* navbar small screen  */

.navbar-small{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.1rem;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 1.1rem;
}

.navbar-small > h1{
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    font: bold 1.6rem arial;
}

.navbar-small > i{
    position: relative;
    left:30%;
}

.navbar-small > i:hover{
    color: rgb(169, 162, 162);
    cursor: pointer;
}

.nav-items-small a{
    text-decoration: none;
}


.nav-items-small li{
    list-style: none;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-bottom: 1.25rem;
}

.nav-items-small li:hover{
    color: rgb(169, 162, 162);
}

/* CARDS */

/*  #93B1A6 #040D12   */

#card-container{
    background: linear-gradient(45deg, #020202, #111111, #181818);
    padding: 40px;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: #93B1A6;
    opacity: 0.8;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: 1.1rem;
    max-width: 400px;
    max-height: auto;
    border-radius: 0 40px 0 20px;
    box-shadow: 0 0 6px 7px #183D3D;
    
}

.card:hover{
    animation: hoverOnProduct 0.5s ease-out;
}


.card > img{
    align-self: center;
    max-width: 200px;
}

.card>h1{
    align-self: center;
    font-weight: bolder;
    font-size: 1.8rem;
    text-transform:uppercase;
    text-shadow: 0 0 3px #222020;
}

.card>p{
    max-height: 4.5rem;
    overflow: hidden;
    font-weight: 600;
    font-size: smaller;
    color: rgb(48, 46, 46);
    line-height: 1.05rem;
    word-spacing: 0.3rem;
}

.card .read-more{
    display: block;
    color: #032d2d;
    cursor: pointer;
}
.card .read-more:hover{
    filter: brightness(1.4);
}

.card.active p{
    max-height: max-content;
}

.product_details{
    display: flex;
    justify-content: space-between;
}

.price{
    font: bolder 1.25rem Arial;
    color: #044040;
    animation: up 0.7s linear infinite alternate;
}

.product_id{
    color: #065656;
    font-weight: 600;
}

/* Buttons */

.btn{
    padding: 0.75rem;
    max-width: fit-content;
    align-self: center;
    background-color: #183D3D;
    color: white;
    border: 1px solid #183D3D;
    border-radius: 1.1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #2a5757;
}

/* POPUP MENU  */

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px 4px black;
    width: 450px;
    max-width: 70%;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid black;
    margin-bottom: 0.7rem;
    padding: 0 0 0 0.7rem;
}
.popup-header-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.popup-closebtn{
    width: fit-content;
    color: #020202;
    background-color: white;
    font-size: 1.25rem;
    border-radius: 0;
    font-weight: bold;
    margin: 0;
}

.popup-closebtn:hover{
    background-color: #020202;
    color: white;
}
.popup-body{
    padding: 0.7rem;
    line-height: 1.1rem;
}

.popup.active{
    display: block;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    background-color: rgb(174, 163, 163,0.4);
    pointer-events: none; 
     
    /* These allow for all pointer click and events to take place whereas pointer-events all stops any click or similar events within the overlay */     
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}

/*  MEDIA QUERIES  */

@media (width<1000px){
    *{
        font-size:medium;
    }
    .card{
        max-width: 300px;
        max-height: auto;
    }
}

@media (width<850px){
    .navbar > h1{
        font-size:1rem;
    }
    .nav-items{
        display: none;
    }
    #bar-btn{
        display: block;
    }
}



@keyframes up {
    to{
        transform: translateY(4px);
    }
}
@keyframes hoverOnProduct {
    to{
        transform:scale(1.05);
    }
}