body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #020202, #111111, #181818);
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(235, 232, 232, 0.2);
    padding: 1.1rem;
    margin: 2.1rem 0;
    max-width: 700px;
    min-width: 700px;
}
#product-form{
    width: 100%;
    display: grid;
    gap: 1.9rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#name{
    grid-column: 1/3;
}
#price{
    grid-column: 3/5;
}
#categorySelect{
    grid-column: 3/5;
}
#p_img{
    grid-column: 1/3;
}
#p_desc{
    grid-column: 1/5;
}
#add-btn{
    grid-column: 2/4;
}

#back-btn{
    width: 10vw;
}

.form-container:hover {
    box-shadow: 0 5px 10px rgba(249, 243, 243, 0.3);
}

/*    Category Button             */

input,textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s, border 0.3s;
}

input:hover, textarea:hover {
    background: rgba(255, 255, 255, 0.3);
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #3498db;
}

/*.category-dropdown{
    display: none;
    position: relative;
    background-color: rgb(87, 84, 84);
    color: white;
    padding: 0;
}*/

#category-btn{
    color: rgb(178, 175, 171);
}

#categorySelect{
    width: 100%;
    height: auto;
    font-size: 18px;
    color: rgb(150, 147, 143);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    outline: none;
}

#categorySelect:focus{
    outline: none;
    background-color: #3b3939;
}

button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    background: #3498db;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background: #2980b9;
}

.form-title {
    font-size: 2.1rem;
}

.message {
    color: red;
    margin-top: 10px;
}

.success {
    color: #27ae60;
}

#category{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}