body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #020202, #111111, #181818);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(235, 232, 232, 0.2);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: center;
    position: relative;
}

.form-container:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgba(249, 243, 243, 0.3);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s, border 0.3s;
}

input:hover {
    background: rgba(255, 255, 255, 0.3);
}

input:focus {
    outline: none;
    border: 2px solid #3498db;
}

.password-container {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.password-icon:hover {
    color: rgba(255, 255, 255, 0.9);
}

button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    background: #3498db;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background: #2980b9;
}

.form-title {
    font-size: 24px;
}

.message {
    color: red;
    margin-top: 10px;
}

.success {
    color: #27ae60;
}