<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Admin Login</h2>
        <form id="login-form" action="/adminLogin" method="post">
            <p style="text-align: left;"><a href="./login">User Login ?</a></p>
            <input type="text" id="login-username" placeholder="Admin Username" name="username" required>
            <div class="password-container">
                <input type="password" id="login-password" placeholder="Password" name="password" required>
                <i class="fas fa-eye password-icon" id="password-toggle"></i>
            </div>
            <button name="login" type="submit">Login</button>
        </form>
        <p id="message" class="message"><%= locals.message %></p>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>