<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Discount</title>
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Price Moduation</h2>
        <form id="login-form" action="/discount" method="post">
            <input type="number" placeholder="Percentage" name="percent" required>
            <input type="number" placeholder="Threshold(Effective above Price)" name="threshold" required>
            <button name="increasePrice" type="submit" value="1">Increase Price</button>
            <button name="decreasePrice" type="submit" value="1">Decrease Price</button>
        </form>
        <a href="http://localhost:3000/adminDashboard" style="text-decoration: none; color: white;"><button style="margin-top: 0;">Go Back</button></a>
        <p id="message" class="message"><%= locals.message %></p>
        <p id="message" class="success"><%= locals.success %></p>
    </div>
</body>
</html>