<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Reset Password</h2>
        <form id="login-form" action="/resetPassword" method="post">
            <input type="text" id="login-username" placeholder="Username" name="username" required>
            <input type="email" placeholder="Email ID" name="email" required>
            <div class="password-container">
                <input type="password" id="login-password" placeholder="New Password" name="newPassword" required>
                <i class="fas fa-eye password-icon" id="password-toggle"></i>
            </div>
            <div class="password-container">
                <input type="password" id="login-password" placeholder="Re-Type Password" name="confirmPassword" required>
                <i class="fas fa-eye password-icon" id="password-toggle"></i>
            </div>
            <button name="resetPassword" type="submit">Change Password</button>
        </form>
        <a href="./login" style="text-decoration: none;color: white;"><button name="login" type="submit" style="margin-top: 0;">Login</button></a>
        <p id="message" class="message"><%= locals.message %></p>
        <p id="success" class="success"><%= locals.success %></p>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>